<!-- wp:template-part {"slug":"header","theme":"monify-lite","area":"header"} /-->

<!-- wp:pattern {"slug":"monify-lite/monify-lite-single-core-hero"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"20px","left":"20px","top":"160px","bottom":"180px"}},"color":{"gradient":"linear-gradient(180deg,rgb(255,255,255) 0%,rgb(255,255,255) 72%,rgb(237,250,255) 100%)"}},"layout":{"type":"constrained","contentSize":"900px"}} -->
<div class="wp-block-group has-background" style="background:linear-gradient(180deg,rgb(255,255,255) 0%,rgb(255,255,255) 72%,rgb(237,250,255) 100%);padding-top:160px;padding-right:20px;padding-bottom:180px;padding-left:20px"><!-- wp:post-content /-->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"40px","bottom":"40px"}}},"backgroundColor":"theme-4"} -->
<hr class="wp-block-separator has-text-color has-theme-4-color has-alpha-channel-opacity has-theme-4-background-color has-background" style="margin-top:40px;margin-bottom:40px"/>
<!-- /wp:separator -->

<!-- wp:comments {"className":"wp-block-post-comments "} -->
<div class="wp-block-comments wp-block-post-comments"><!-- wp:comments-title {"style":{"typography":{"fontSize":"28px"}}} /-->

<!-- wp:comment-template -->
<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:comment-author-name {"style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-3"}}}},"fontSize":"small"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-3"}}}},"fontSize":"small"} /-->

<!-- wp:comment-edit-link {"style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-3"}}}},"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:comment-content {"style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-2"}}}},"textColor":"theme-2"} /-->

<!-- wp:comment-reply-link {"style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-3"}}}},"fontSize":"small"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination {"style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-3"}}}}} -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-numbers /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form /--></div>
<!-- /wp:comments --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"monify-lite","area":"footer"} /-->