<!-- wp:template-part {"slug":"header","theme":"monify-lite","area":"header"} /-->

<!-- wp:pattern {"slug":"monify-lite/monify-lite-home-gutenverse-hero"} /-->

<!-- wp:pattern {"slug":"monify-lite/monify-lite-home-gutenverse-about"} /-->

<!-- wp:pattern {"slug":"monify-lite/monify-lite-gutenverse-client-logo"} /-->

<!-- wp:pattern {"slug":"monify-lite/monify-lite-home-gutenverse-services"} /-->

<!-- wp:pattern {"slug":"monify-lite/monify-lite-home-gutenverse-why-choose-us"} /-->

<!-- wp:pattern {"slug":"monify-lite/monify-lite-gutenverse-testimonials"} /-->

<!-- wp:pattern {"slug":"monify-lite/monify-lite-home-gutenverse-blog"} /-->

<!-- wp:template-part {"slug":"footer","theme":"monify-lite","area":"footer"} /-->