<!-- wp:template-part {"slug":"header","theme":"monify-lite","area":"header"} /-->

<!-- wp:pattern {"slug":"monify-lite/monify-lite-page-gutenverse-hero"} /-->

<!-- wp:gutenverse/section {"width":{"Desktop":"1200"},"gap":"no","elementId":"guten-nNiDUH","margin":{"Desktop":[],"Mobile":[],"Tablet":[]},"padding":{"Desktop":{"unit":"px","dimension":{"top":"100","bottom":"150"}},"Tablet":{"unit":"px","dimension":{"top":"130","bottom":"150","right":"30","left":"30"}},"Mobile":{"unit":"px","dimension":{"top":"80","bottom":"130","right":"20","left":"20"}}}} -->
<div class="section-wrapper" data-id="nNiDUH"><section class="wp-block-gutenverse-section guten-element guten-section guten-nNiDUH layout-boxed align-stretch"><div class="guten-container guten-column-gap-no"><!-- wp:gutenverse/column {"width":{"Desktop":100},"elementId":"guten-miuLDa"} -->
<div class="wp-block-gutenverse-column guten-element guten-column guten-miuLDa"><div class="guten-column-wrapper" data-id="miuLDa"><!-- wp:gutenverse/post-content {"elementId":"guten-9TLkVj"} -->
<div class="guten-element guten-post-content guten-9TLkVj"></div>
<!-- /wp:gutenverse/post-content --></div></div>
<!-- /wp:gutenverse/column --></div></section></div>
<!-- /wp:gutenverse/section -->

<!-- wp:template-part {"slug":"footer","theme":"monify-lite","area":"footer"} /-->